.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 100px);
    grid-gap: 10px 10px;
}

.grid-item {
    background-color: rgba(120, 80, 141, 0.9);
    text-align: center;
    padding: 10px;
}

#new-book{
    background-color: bisque;
    border: 2px solid;
    padding: 20px;
    margin: 2em;
    text-align: center;
    font-size: 18px;
}

.remover{
    margin-left: 5px;
}